name: build apps

on:
  workflow_dispatch:
  schedule:
    - cron: "0 23 * * *"

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write

    steps:
      - name: Set timezone
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          date +"%Y-%m-%d %H:%M:%S %Z"
          
      - name: System info
        run: |
          date +"%Y-%m-%d %H:%M:%S %Z"
          lscpu | grep -E '^Architecture|^CPU\(s\):|^Model name'
          uname -sr
          lsb_release -a
          free -h
          df -Th

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Build
        uses: apoiston/actions@packages
        with:
          private_key: ${{ secrets.PRIVATE_KEY }}
          public_key: ${{ secrets.PUBLIC_KEY }}
          setup_sdk: ${{ secrets.SETUP_SDK }}
          build_apps: ${{ secrets.BUILD_APPS }}
          config_buildinfo: builder/config.buildinfo

      - name: Prepare
        run: |
          date +"%Y-%m-%d %H:%M:%S %Z"
          git clone --depth=1 --quiet --branch packages https://github.com/apoiston/index.git
          sed -i "s/N\/A/$(date +"%Y-%m-%d %H:%M:%S %Z")/g" index/index.html
          rsync -a --quiet --include="*.html" --include="*.css" --include="*.js" --exclude="*" index/ "$GITHUB_WORKSPACE/"
          rsync -a --quiet openwrt/snapshots "$GITHUB_WORKSPACE/"
          printf '%s' "${{ secrets.PUBLIC_KEY }}" > "$GITHUB_WORKSPACE/public-key.pem"

      - name: Commit
        continue-on-error: true
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout --orphan apps
          git rm -rf .
          git add *.{html,css,js} snapshots public-key.pem
          git commit -m "build: $(date +"%Y-%m-%d %H:%M:%S %Z") [APPS]"
          git push origin apps --force
