name: build toolchain

on:
  workflow_dispatch: 

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    permissions:
      actions: write
      contents: write

    steps:
      - name: Set timezone
        run: |
          sudo timedatectl set-timezone Asia/Shanghai
          date +"%Y-%m-%d %H:%M:%S %Z"

      - name: System info
        run: |
          date +"%Y-%m-%d %H:%M:%S %Z"
          lscpu | grep -E '^Architecture|^CPU\(s\):|^Model name'
          uname -sr
          lsb_release -a
          free -h
          df -Th

      - name: Checkout
        uses: actions/checkout@v6

      - name: Build
        uses: apoiston/actions@image
        with:
          private_key: ${{ secrets.PRIVATE_KEY }}
          public_key: ${{ secrets.PUBLIC_KEY }}
          prepare_compile: ${{ secrets.PREPARE_COMPILE }}
          prepare_configure: ${{ secrets.PREPARE_CONFIGURE }}
          prepare_toolchain: ${{ secrets.PREPARE_TOOLCHAIN }}
          config_buildinfo: builder/config.buildinfo
          enable_build_tools: true
          enable_build_toolchain: true
          enable_prepare_toolchain: true

      - name: Upload
        uses: actions/upload-artifact@v6
        with:
          name: toolchain
          path: |
            openwrt/builder/*.zst
            openwrt/builder/*.txt
